.timeline-content{
	margin-bottom:10px !important;
	margin-left: 17px !important;
	margin-right: 12px !important;
}

.timeline-point{
	position: absolute;
    right: -30px;
    top: 0 !important;
}

.timeline .right{
	margin-top:62px;
}

.timeline .right .timeline-point{
	position:absolute;
	left: -22px;
} 

.timeline .left .event-date small, .timeline .left .event-date h6{
    text-align:right;
}

@media screen and (max-width: 1280px) {
	.timeline-content{
		margin-bottom:10px !important;
		margin-left: 12px !important;
		margin-right: 10px !important;
	}
}

@media screen and (max-width: 1360px) {
	.timeline-content{
		margin-bottom:10px !important;
		margin-left: 17px !important;
		margin-right: 10px !important;
	}
}
@media screen and (max-width: 1920px) {
	.timeline-content{
		margin-bottom:10px !important;
		margin-left: 22px !important;
		margin-right: 12px !important;
	}
}
@media only screen and (min-width: 2000px) {
.timeline-point{
	position: absolute;
    right: -35px;
    top: 0 !important;
}
}